# Sua chave da API do RunPod (Pegue em https://www.runpod.io/console/serverless/user/settings)
RUNPOD_API_KEY="rpa_..."

# O ID do seu Endpoint Serverless (Ex: mel78qy7cbsj9m)
RUNPOD_ENDPOINT_ID="coloque_seu_endpoint_id_aqui"
